In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ls

 Volume in drive C is OS
 Volume Serial Number is 5ECB-C6A3

 Directory of C:\Users\stell\Desktop\Python Stella\Python3 Basic and Data Analysis

02/19/2020  09:42 PM    <DIR>          .
02/19/2020  09:42 PM    <DIR>          ..
02/19/2020  09:40 PM    <DIR>          .ipynb_checkpoints
02/10/2020  11:23 PM            12,898 Calculation in Series and DataFrame.ipynb
02/12/2020  10:13 PM            22,103 Concat and Combine.ipynb
02/03/2020  09:57 PM            22,925 Dataframe IO.ipynb
02/19/2020  09:42 PM               555 Delete Duplicate.ipynb
02/03/2020  09:51 PM               509 df.csv
02/03/2020  09:53 PM             2,057 df.html
02/03/2020  09:56 PM             5,257 df.xlsx
02/11/2020  09:18 PM           212,877 hw1.csv
02/11/2020  09:21 PM           212,877 hw1_2.csv
02/10/2020  10:57 PM            12,463 Mapping and Replace.ipynb
09/27/2019  06:09 PM         1,494,688 movie_metadata.csv
02/10/2020  10:40 PM            11,443 Multi-Index.ipynb
02/10/2020  10:07 PM            28,013 NaN.ipynb
11/13/2017  05:09 AM    <DIR>          o25mso
02/11/2020  10:36 PM            76,169 Pandas - Continue.ipynb
01/30/2020  11:17 PM            44,375 Pandas - Dataframe.ipynb
01/28/2020  09:18 PM             8,398 Pandas.ipynb
02/03/2020  10:32 PM            20,724 Re-indexing Series and DataFrame.ipynb
02/03/2020  10:18 PM            49,112 SELECTing and INDEXing.ipynb
02/12/2020  10:42 PM            29,458 use apply to do the data pre-processing.ipynb
              19 File(s)      2,266,901 bytes
               4 Dir(s)  176,346,681,344 bytes free

In [5]:
df = pd.read_csv('homework\demo_duplicate.csv')

In [7]:
df.head()

   Unnamed: 0   Price  Seqno Symbol        time
0           0  1623.0    0.0   APPL  1473411962
1           1  1623.0    0.0   APPL  1473411962
2           2  1623.0    0.0   APPL  1473411963
3           3  1623.0    0.0   APPL  1473411963
4           4  1649.0    1.0   APPL  1473411963

In [8]:
del df['Unnamed: 0']

In [9]:
df

       Price  Seqno Symbol        time
0     1623.0    0.0   APPL  1473411962
1     1623.0    0.0   APPL  1473411962
2     1623.0    0.0   APPL  1473411963
3     1623.0    0.0   APPL  1473411963
4     1649.0    1.0   APPL  1473411963
...      ...    ...    ...         ...
3984  1680.0  998.0   APPL  1473412961
3985  1509.0  999.0   APPL  1473412961
3986  1509.0  999.0   APPL  1473412961
3987  1509.0  999.0   APPL  1473412961
3988  1509.0  999.0   APPL  1473412962

[3989 rows x 4 columns]

In [10]:
len(df)

3989

In [13]:
len(df['Seqno'].unique())

1000

In [15]:
df['Seqno'].duplicated()

0       False
1        True
2        True
3        True
4       False
        ...
3984     True
3985    False
3986     True
3987     True
3988     True
Name: Seqno, Length: 3989, dtype: bool

In [17]:
type(df['Seqno'].drop_duplicates())

pandas.core.series.Series

In [19]:
df.drop_duplicates(['Seqno'],keep='last') #use keep to determine if we wanna keep the first record or the last one

       Price  Seqno Symbol        time
3     1623.0    0.0   APPL  1473411963
7     1649.0    1.0   APPL  1473411964
11    1642.0    2.0   APPL  1473411965
15    1636.0    3.0   APPL  1473411966
19    1669.0    4.0   APPL  1473411967
...      ...    ...    ...         ...
3972  1641.0  995.0   APPL  1473412958
3976  1581.0  996.0   APPL  1473412959
3980  1674.0  997.0   APPL  1473412960
3984  1680.0  998.0   APPL  1473412961
3988  1509.0  999.0   APPL  1473412962

[1000 rows x 4 columns]