In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# create a dataf{rame
df1 = DataFrame({"City":["Beijing", "Shanghai","Guangzhou"], "Population":[1000,2000,1500]})

In [3]:
df1

        City  Population
0    Beijing        1000
1   Shanghai        2000
2  Guangzhou        1500

In [4]:
df1['GDP']= Series([100,200,150])

In [5]:
df1

        City  Population  GDP
0    Beijing        1000  100
1   Shanghai        2000  200
2  Guangzhou        1500  150

In [6]:
gdp_map = {"Beijing":100, "Shanghai":200, "Guangzhou":150}

In [11]:
df2 =  DataFrame({"City":["Beijing", "Shanghai","Guangzhou"], "Population":[1000,2000,1500]}, index=['A','B','C'])

In [12]:
df2['GDP'] = df2['City'].map(gdp_map)

In [13]:
df2

        City  Population  GDP
A    Beijing        1000  100
B   Shanghai        2000  200
C  Guangzhou        1500  150

In [14]:
df3 = DataFrame({"City":["Beijing", "Shanghai","Guangzhou"], "Population":[1000,2000,1500]}, index=['A','B','C'])

In [16]:
df3

        City  Population
A    Beijing        1000
B   Shanghai        2000
C  Guangzhou        1500

In [19]:
df3['GDP'] = Series([100, 200, 150], index=['A','B','C']) # need to specify the index to map

In [20]:
df3

        City  Population  GDP
A    Beijing        1000  100
B   Shanghai        2000  200
C  Guangzhou        1500  150

In [21]:
# replace in series
s1 = Series(np.arange(10))

In [23]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [24]:
s1.replace(1, np.nan) #will not effect the original series

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [25]:
s1.replace([1,2,3],[10,20,30])

0     0
1    10
2    20
3    30
4     4
5     5
6     6
7     7
8     8
9     9
dtype: int64