In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
s1 = Series(np.random.randn(6), index=[['1','1','1','2','2','2'],['a','b','c','a','b','c']])

In [5]:
s1

1  a   -0.467376
   b   -0.127520
   c    0.527324
2  a   -1.560928
   b   -2.459949
   c   -0.897206
dtype: float64

In [7]:
type(s1['1'])

pandas.core.series.Series

In [9]:
s1['1']['a']

-0.46737593545472617

In [11]:
s1[:,'a']

1   -0.467376
2   -1.560928
dtype: float64

In [12]:
# turn to dataframe
df1 = s1.unstack()

In [13]:
df1

          a         b         c
1 -0.467376 -0.127520  0.527324
2 -1.560928 -2.459949 -0.897206

In [14]:
df2 = DataFrame([s1['1'],s1['2']])

In [15]:
df2

          a         b         c
0 -0.467376 -0.127520  0.527324
1 -1.560928 -2.459949 -0.897206

In [18]:
s2 = df1.T.unstack()

In [19]:
s2

1  a   -0.467376
   b   -0.127520
   c    0.527324
2  a   -1.560928
   b   -2.459949
   c   -0.897206
dtype: float64

## Multi-Index DataFrame

In [25]:
df = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],columns=[['BJ','BJ','SH','GZ'],[8,9,8,8]])

In [26]:
df

     BJ      SH  GZ
      8   9   8   8
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [27]:
df['BJ']

      8   9
a 1   0   1
  2   4   5
b 1   8   9
  2  12  13

In [28]:
df['BJ'][8]

a  1     0
   2     4
b  1     8
   2    12
Name: 8, dtype: int32