In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

### Series Re-index

In [2]:
s1 = Series([1,2,3,4], index=['A','B','C','D'])

In [4]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
s1.reindex(index= ['A','B','C','D','E'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [7]:
s1.reindex(index= ['A','B','C','D','E'], fill_value = 10) #use fill_value to fill in the NaN

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [8]:
s2 = Series(['A','B','C'], index=[1,5,10])

In [9]:
s2.reindex(index=range(15), method = 'ffill') # ffile: forward fill, if the value is NaN, it will copy the previous record.

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

### Reindex DataFrame

In [10]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]))

In [11]:
df1

          0         1         2         3         4
0  0.887624  0.493355  0.711838  0.834406  0.894667
1  0.868638  0.500430  0.998279  0.582393  0.287109
2  0.452997  0.992318  0.068213  0.570733  0.127651
3  0.813679  0.684952  0.236584  0.004486  0.640315
4  0.081903  0.265552  0.577421  0.439240  0.031344

In [12]:
df2 = DataFrame(np.random.rand(25).reshape([5,5]), index=['A','B','D','E','F'], columns=['C1','C2','C3','C4','C5'])

In [13]:
df2

         C1        C2        C3        C4        C5
A  0.534982  0.636325  0.144392  0.269782  0.306682
B  0.328757  0.774281  0.230775  0.933106  0.048882
D  0.807006  0.169020  0.201143  0.729555  0.420249
E  0.772502  0.648266  0.812478  0.307464  0.967631
F  0.615461  0.529127  0.204223  0.198718  0.508460

In [15]:
df2.reindex(index = ['A','B','C','D','E','F'])

         C1        C2        C3        C4        C5
A  0.534982  0.636325  0.144392  0.269782  0.306682
B  0.328757  0.774281  0.230775  0.933106  0.048882
C       NaN       NaN       NaN       NaN       NaN
D  0.807006  0.169020  0.201143  0.729555  0.420249
E  0.772502  0.648266  0.812478  0.307464  0.967631
F  0.615461  0.529127  0.204223  0.198718  0.508460

In [20]:
df2.reindex(columns= ['C1','C2','C3','C4','C5','C6'])

         C1        C2        C3        C4        C5  C6
A  0.534982  0.636325  0.144392  0.269782  0.306682 NaN
B  0.328757  0.774281  0.230775  0.933106  0.048882 NaN
D  0.807006  0.169020  0.201143  0.729555  0.420249 NaN
E  0.772502  0.648266  0.812478  0.307464  0.967631 NaN
F  0.615461  0.529127  0.204223  0.198718  0.508460 NaN

### If we reduce the index number

In [19]:
s1.reindex(index=['A','B'])

A    1
B    2
dtype: int64

In [22]:
df2.reindex(index=['A','B'])

         C1        C2        C3        C4        C5
A  0.534982  0.636325  0.144392  0.269782  0.306682
B  0.328757  0.774281  0.230775  0.933106  0.048882

In [23]:
s1.drop('A') #use drop to delete row

B    2
C    3
D    4
dtype: int64

In [24]:
df2.drop('A',axis=0) #axis = 0 --> delete row ; axis = 1 --> delete column

         C1        C2        C3        C4        C5
B  0.328757  0.774281  0.230775  0.933106  0.048882
D  0.807006  0.169020  0.201143  0.729555  0.420249
E  0.772502  0.648266  0.812478  0.307464  0.967631
F  0.615461  0.529127  0.204223  0.198718  0.508460